.headerReplacement {
    width: auto;
    height: auto;
    background: url(img/pexels-neo-2653362.jpg) #cccccc no-repeat;  
    background-size: cover;
    color:#ecd274
 }

 .w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#273d62!important}

.fa-anchor {
    font-size: 50%;
}

.iconStyle{
    color: #273d62
}

.poddSection{
    font-size: 50px;
}
